.steamlogout
{
    border: medium none !important;
    background: transparent none repeat scroll 0% 0% !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: rgb(255, 255, 255) !important;
    line-height: 21px;
    position: relative;
    display: block;
    padding: 10px 15px;


}
.navbar-default .navbar-nav > li:hover {
    color: #FFF !important;
    background-color: #272727 !important;
}
.avatar
{
    margin-top:6px;
}
.main-content
{
    margin-right: 27px;
    margin-left: 15px;
}
.container-lottery
{
    background-color:#03A9F4;
    padding:15px;
}
.container-lottery div p
{
    color : white;

}
.label_lottery
{
    font-weight: bold;
}